.app {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 95vh;
  display: flex;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 70px;
    width: calc(100% - 70px);
  }
}
